# repository properties
repository.bin = bin
repository.src = src

# rule generator properties

# component alias to component class map
compiler.component.type.SimpleReader = by.bsu.fami.etl.processing.component.reader.StubReader
compiler.component.type.SimpleWriter = by.bsu.fami.etl.processing.component.writer.StubWriter
compiler.component.type.JdbcReader = by.bsu.fami.etl.processing.component.reader.JdbcReader
compiler.component.type.XmlReader = by.bsu.fami.etl.processing.component.reader.XmlReader
compiler.component.type.JdbcWriter = by.bsu.fami.etl.processing.component.writer.JdbcWriter
compiler.component.type.XmlWriter = by.bsu.fami.etl.processing.component.writer.XmlWriter
compiler.component.type.JdbcDataSource = by.bsu.fami.etl.processing.datasource.JdbcDataSource
compiler.component.type.LocalFileDataSource = by.bsu.fami.etl.processing.datasource.LocalFileDataSource
compiler.component.type.SimpleChecker = by.bsu.fami.etl.processing.component.checker.SimpleChecker